<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="navbar">
    <nav>
        <section>
            <h3>Dashboard</h3>
            <a th:href="@{/home}">
                <p>Home</p>
                <i class="fa-solid fa-house"></i>
            </a>
            <a th:href="@{/}">Your Profile</a>
            <a th:href="@{/}">Personal Plans</a>
            <a th:href="@{/}">Workouts Page</a>
            <a th:href="@{/meals}">Meals Page</a>
            <a th:href="@{/}">Achievements</a>
            <a th:href="@{/}">Discover Plans</a>
        </section>

        <section>
            <h3>Discover</h3>
            <a th:href="@{/}">Plan store</a>
            <a th:href="@{/}">Purchase Plans</a>
        </section>

<!--        <section>-->
<!--            <h3>Information Pages</h3>-->
<!--            <a th:href="@{/}">About us</a>-->
<!--            <a th:href="@{/}">Contacts</a>-->
<!--            <a th:href="@{/}">FAQ</a>-->
<!--        </section>-->

<!--        <section th:if="${user.role.name() == 'ADMIN'}">-->
<!--            <h3>Admin Panel</h3>-->
<!--            <a th:href="@{/}">Users</a>-->
<!--            <a th:href="@{/}">User</a>-->
<!--        </section>-->
    </nav>
</th:block>


</body>
</html>