<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav>
    <section>
        <h2>Dashboard</h2>
        <a href="">A some text</a>
        <a href="">B some text</a>
        <a href="">C some text</a>
    </section>

    <section>
        <h2>Dashboard 2</h2>
        <a href="">A some text</a>
        <a href="">B some text</a>
        <a href="">C some text</a>

    </section>
</nav>

<th:block th:fragment="navbar">
    <nav>
        <section>
            <h2>Dashboard</h2>
            <a th:href="@{/}">Home</a>
            <a th:href="@{/about}">About</a>
        </section>

        <section th:if="${user.role.name() == 'ADMIN'}">
            <a th:href="@{/admin}">Admin Panel</a>
        </section>
    </nav>
</th:block>


</body>
</html>