@import url('https://fonts.googleapis.com/css2?family=Iansui&display=swap');

body{
    background: rgb(12,64,217);
    background: radial-gradient(circle, rgba(12,64,217,1) 0%, rgba(43,177,106,1) 100%); 
    padding: 1em 3em;
}

ul{
    display: flex;
    justify-content: end;
}

li{
    list-style: none;
    padding: 0.7em 1em;
    margin: 0 0.5em;
    border: solid white 3px; 
    border-radius: 2em;
}

a{
    text-decoration: none;
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.title{
    color: white;
    margin-top: 1em;
    text-align: center;
    font-size: 100px;
}