* {
    padding: 0;
    margin: 0;
}

body{
    background: rgb(12,64,217);
    background: radial-gradient(circle, rgba(12,64,217,1) 0%, rgba(43,177,106,1) 100%);
}




.footer p{
    text-align: center;
    font-size: 30px;
    color: white;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    gap: 1em;
}

nav, .content{
    background: white;
    padding: 2em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content-container{
    background: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}



nav{
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 400px;
}

nav section{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

nav section a{
    display: flex;
    justify-content: space-between;
    font-size: larger;
    color: black;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    line-height: 2.2;
}

a i{
    display: block;
    padding: 0.5em 0;
    font-size: larger;
}



.button{
    align-self: center;
    font-size: 20px;
    max-width: 10em;
    margin-top: 1em;
    background-color: #2BB16AFF;
    border: 1px solid #2BB16AFF;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    color: #fff;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 0.5em 1em;
    text-align: center;
}

.button:hover{
    background-color: #1a6941;
    border: 1px solid #1a6941;
    box-shadow: rgba(0, 0, 0, 0.34) 0 2px 4px 0;
}



nav section a:hover{
    font-weight: 600;
    background: rgb(12,64,217);
    background: linear-gradient(90deg, rgba(12,64,217,0.7) 0%, rgba(43,177,106,0.8) 100%);
}

.content{
    flex-grow: 10;
}

/*home page*/
.content-container {
    flex-grow: 7;
}

.acc-header{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.acc-header .img-container img{
    width: 200px;
}

.acc-inf{
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.meal-content-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.meal-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.meal, .add-meal{
    color: black;
    border: 2px solid #2BB16AFF;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.meal:hover, .add-meal:hover{
     border: 2px solid #1a6941;
}


.add-meal{
    font-size: 5em;
    color: #2BB16AFF;
    border: 2px solid #2BB16AFF;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add-meal:hover{
    font-size: 5em;
    color: #1a6941;
    border: 2px solid #1a6941;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.meal div{
    display: flex;
    justify-content: space-between;
}




/* The footer is always at the bottom */
footer {
    color: white;
    text-align: center;
    padding: 10px;
}
