<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/typography.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <main>
            <div th:replace="~{fragments/common/nav-bar :: navbar}"></div>
            <div class="content">

            </div>

        </main>

    <th:block th:insert="~{fragments/common/footer :: footer}"></th:block>




    </div>
</body>
</html>
