<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/typography.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Home</title>
</head>
<body>
    <div class="container">

        <main>
            <div th:replace="~{fragments/common/nav-bar :: navbar}"></div>

            <div class="content">
                <div class="acc-header">
                    <div class="img-container" th:if="${user.gender == T(com.fitness_club.user.model.Gender).FEMALE}"><img th:src="${#strings.isEmpty(user.profilePicture) ? 'https://www.shareicon.net/data/2016/07/21/799353_user_512x512.png' : user.profilePicture}" alt="Profile Picture" class="profile-avatar"></div>
                    <div class="img-container" th:if="${user.gender == T(com.fitness_club.user.model.Gender).MALE}"><img th:src="${#strings.isEmpty(user.profilePicture) ? 'https://www.shareicon.net/data/2016/07/21/799323_user_512x512.png' : user.profilePicture}" alt="Profile Picture" class="profile-avatar"></div>
                    <h2 class="profile-name" th:text="${user.username}"></h2>
                    <p class="id" th:text="${user.id}"></p>
                </div>

                <div class="acc-inf">
                    <div class="field">
                        <strong>Name:</strong><p th:text="${user.firstName + ' ' + user.lastName}"></p>
                    </div>


                </div>

            </div>

            <div class="content-container">
                <div class="content"></div>
                <div class="content"></div>
            </div>

        </main>

    <th:block th:insert="~{fragments/common/footer :: footer}"></th:block>




    </div>
</body>
</html>
