<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/typography.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <main>
            <div th:replace="~{fragments/common/nav-bar :: navbar}"></div>

            <div class="content">
                <div class="acc-header">
                    <div class="img-container" th:if="${user.gender == T(com.fitness_club.user.model.Gender).FEMALE}"><img th:src="${#strings.isEmpty(user.profilePicture) ? 'https://www.shareicon.net/data/2016/07/21/799353_user_512x512.png' : user.profilePicture}" alt="Profile Picture" class="profile-avatar"></div>
                    <div class="img-container" th:if="${user.gender == T(com.fitness_club.user.model.Gender).MALE}"><img th:src="${#strings.isEmpty(user.profilePicture) ? 'https://www.shareicon.net/data/2016/07/21/799323_user_512x512.png' : user.profilePicture}" alt="Profile Picture" class="profile-avatar"></div>
                    <h2 class="profile-name" th:text="${user.username}"></h2>
                    <p class="id" th:text="${user.id}"></p>
                </div>

                <div class="acc-inf">
                    <div class="field">
                        <strong>Name:</strong><p th:text="${#strings.isEmpty(user.firstName) ? 'Add your name to show it here.' : user.firstName + ' ' + user.lastName}"></p>
                    </div>
                    <div class="field">
                        <strong>Age:</strong><p th:text="${user.age == null ? 'Add your age to show it here.' : user.age}"></p>
                        <strong>Height:</strong><p th:text="${user.height == null ? 'Add your height to show it here.' : user.height}"></p>
                        <strong>Weight:</strong><p th:text="${user.weight == null ? 'Add your weight to show it here.' : user.weight}"></p>
                    </div>
                    <div class="field">
                        <strong>Email:</strong><p th:text="${#strings.isEmpty(user.email) ? 'Add your email to show it here.' : user.email}"></p>
                    </div>
                    <div class="field">
                        <strong>Member since:</strong><p th:text="${#temporals.format(user.createdOn, 'dd MMM YYYY')}"></p>
                    </div>
                </div>
                <a class="button" th:href="@{'/users/' + ${user.id} + '/profile'}">Edit profile</a>
            </div>

            <div class="content-container">
                <div class="content">


                </div>

                <div class="content">


                </div>
            </div>

        </main>

        <th:block th:insert="~{fragments/common/footer :: footer}"></th:block>

    </div>
</body>
</html>
