<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/typography.css">
    <title>Fitness Club</title>
</head>
<body>
<div class="container">

    <header>
        <ul>
            <li><a  th:href="@{/login}">Log in</a></li>
            <li><a th:href="@{/register}">Sign up</a></li>
        </ul>
    </header>

    <main>
    <h1 class="title">Fitness Club</h1>
    </main>
    <th:block th:insert="~{fragments/common/footer :: footer}"></th:block>
    </div>
</body>
</html>