<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/typography.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link rel="stylesheet" type="text/css" href="/css/sliderMeal.css">
    <title>Edit profile info</title>
</head>
<body>

<main>
    <form th:action="@{/meals/new}" th:method="POST" th:object="${createMealRequest}">
        <h1>Edit Profile</h1>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name"  name="name" th:field="*{name}">
            <p class="alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div>

        <div class="form-group">
            <label for="calories">Calories</label>
            <input type="number" id="calories" name="calories" th:field="*{calories}">
            <p class="alert-warning" th:if="${#fields.hasErrors('calories')}" th:errors="*{calories}"></p>
        </div>

        <div class="form-group">
            <label for="protein">Protein</label>
            <input type="number" id="protein" name="protein" th:field="*{protein}">
            <p class="alert-warning" th:if="${#fields.hasErrors('protein')}" th:errors="*{protein}"></p>
        </div>

        <div class="form-group">
            <label for="carbs">Carbs</label>
            <input type="number" id="carbs" name="carbs" th:field="*{carbs}">
            <p class="alert-warning" th:if="${#fields.hasErrors('carbs')}" th:errors="*{carbs}"></p>
        </div>

        <div class="form-group">
            <label for="fats">Fats</label>
            <input type="number" id="fats" name="fats" th:field="*{fats}">
            <p class="alert-warning" th:if="${#fields.hasErrors('fats')}" th:errors="*{fats}"></p>
        </div>

        <div class="form-group">
            <label class="switch">
                <input type="checkbox" th:field="*{public}" />
                <span class="slider"></span>
            </label>
            <span th:text="${createMealRequest.public} ? 'Enabled' : 'Disabled'"></span>
        </div>

        <button type="submit">Create new meal</button>
    </form>

</main>
<th:block th:insert="~{fragments/common/footer :: footer}"></th:block>


</body>
</html>