<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/typography.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <title>Register</title>
</head>
<body>

<div class="container">
    <main>
        <form th:action="@{/register}" th:method="POST" th:object="${registerRequest}">
            <h1>Register Here</h1>

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" placeholder="ex. user123" id="username" th:field="*{username}" required>
            </div>
            <p class="alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" placeholder="ex. user@gmail.com" id="email" th:field="*{email}" required>
            </div>
            <p class="alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>


            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" placeholder="your password" id="password" th:field="*{password}" required>
            </div>
            <p class="alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>


            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" id="age" th:field="*{age}" required>
            </div>
            <p class="alert-warning" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>


            <div class="form-group">
                <label for="height">Height</label>
                <input type="number"  id="height" th:field="*{height}" required>
            </div>
            <p class="alert-warning" th:if="${#fields.hasErrors('height')}" th:errors="*{height}"></p>


            <div class="form-group">
                <label for="weight">Weight</label>
                <input type="number" id="weight" th:field="*{weight}" required>
            </div>
            <p class="alert-warning" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></p>


            <div class="form-group">
                <label for="gender">Gender</label>
                <select id="gender" th:field="*{gender}">
                    <option th:each="gender : ${T(com.fitness_club.user.model.Gender).values()}" th:value="${gender}"
                            th:text="${#strings.capitalize(#strings.toLowerCase(gender))}"></option>
                </select>
            </div>

            <button>Register</button>
            <p class="form-already">Already have an account? <a href="/login">Login</a>!</p>
        </form>
    </main>
</div>
<th:block th:insert="~{fragments/common/footer :: footer}"></th:block>


</body>
</html>